@import '../../mainStyles.scss';

#message-body{
    position: relative; right: 0;
    // height: calc(100% - 45px); 
    width: 100%; max-width: 300px;
    height: 100%;
    background-color: $color-grey4; 
    display: flex; flex-direction: column;

    .tab-details-wrapper{
        
        display: flex; align-items: center; justify-content: space-between;
        padding: 10px 0 10px 10px;  border-bottom: 1px solid $color-grey1;

        .tab-title{ font-size: $ft-small-title; font-weight: 500;}

        #tab-switch{
            @media screen and (max-width: 1024px){ display: none; }
        }
    }

    .messages-container{
        position: relative; width: 100%;  height: calc(100% - 97px);
        display: flex; flex-direction: column;
        overflow-x: hidden; overflow-y: auto;
        gap: 10px; padding: 10px .5rem; list-style: none;

        &::-webkit-scrollbar {   width: 5px; }
        &::-webkit-scrollbar-thumb { 
            border-color: rgba(42,42,42,.6);
            background-color: rgba(255,255,255,.5);
            border-radius: 10px;
            opacity: 0.5;
        }
        
        &::-webkit-scrollbar-track {background:transparent;}

        li{
            display: flex; flex-direction: column; align-self: flex-start;
            word-wrap: break-word; 
            &.align-left{ align-self: flex-end; text-align: center;}
            &.center-align{ width: auto; margin-inline: auto; }
            .chat-message{
                background-color: $color-grey5; padding: 10px;
                width: auto;border-radius: $border-radius;
                word-wrap: break-word; display:inline-block;
                margin-bottom: 5px; max-width: 200px;
            }
            .sender-details{
                display: flex; justify-content: space-between; 
                font-size: $ft-xxs; color: $color-grey7;

                .sender{ margin-right:10px; }
            }
        }

        
    }

    #comment-field{
        position: relative; margin-top: auto;
    }
}
