@import '../../mainStyles.scss';

#comment-field{
    width: 100%; min-height: 40px;
    background-color: $color-grey1;
    padding: 1rem ;
    font-family: $ft-sans;

    .input-wrapper{
        display: flex; justify-content: space-between; align-items: center;
        padding-top: .5rem; 

        .comment-input{
            appearance: none; border: none;
            background-color: $color-grey1; 
            width: 100%; max-width: 300px;

            &::placeholder{ color: $primary-text-color; padding: 5px;}
            &:focus{ outline: none; }

            &[type="text" i]{
                color: $primary-text-color;
            }
        }

        .action-btn-wrapper{
            position: relative;
            display: flex; justify-content: space-between; align-items: center;
            gap: $smaller-gap;

            .cta-btn{ 
                max-width: 50px; min-width: 30px !important; 
                min-height: 33px !important; 
                svg{ font-size: 1.2rem; }
            }
        }
    }
}