@import '../../mainStyles.scss';

#tab-switch{
    position: relative;
    margin-left: auto; margin-right: .5rem; 
    display: flex; align-items: center; justify-content: space-between;
    min-width: 90px; min-height: 30px; 
    background-color: $color-grey5; border-radius: $border-radius;

    .icon{ font-size: 1.3rem; z-index: 1; margin-inline: auto;}

    .active-tab{ 
        position: absolute;
        width: 2.7rem; height: 100%;
        border-radius: $border-radius !important;
        transition: $transition; background-color: $primary-red;
    }

    .animate-left{ animation: 500ms animateLeft forwards; }
    .animate-right{ animation: 500ms animateRight forwards; }
} 

@keyframes animateLeft{
    0% { margin-left: 0%; }
    100%{ margin-left: 55%; }
}

@keyframes animateRight{
    0% { margin-left: 55%;}
    100%{ margin-left: 0%; }
}